{% load url from future %}
{% load active_link %}
{% url 'news' as news_url %}
<div class="well my_menu">
    <ul class="nav nav-list" id="tab">
        <li class="{% active_str '/' %}"><a href="/"><i class="icon-home"></i>Главная</a></li>
        <li class="{% active_str news_url %}"><a href="{{ news_url }}"><i class="icon-comment"></i>Новости</a></li>
        <li ><a href="/register.html"><i class="icon-user"></i>Регистрация</a></li>
        <li class="{% active_str '/jabber/' %}"><a href="/jabber/"><i class="icon-list"></i>Jabber-серверы</a></li>
        <li class="{% active_str '/about/' %}"><a href="/about/"><i class="icon-book"></i>О проекте</a></li>
        <li ><a href="/chatlogs/"><i class="icon-file"></i>Логи конференций</a></li>
    </ul>
</div>
