.navbar {
    margin:0px 5px 15px 5px;
}

.brand {
    font-family:'Arapey', serif;
}

img.logo {
    width:18px;float:left;
    padding-right:10px;
}

.vn_color {
    color:#cb0404;
}

.my_menu {
    padding:8px 0;
}

.main_content {
    min-height:250px;
}

.addthis_my {
    padding-top:20px;
}

.disqus {
    padding-top:20px;
}

.tags {
    padding-top:20px;
}

.list_news {
    padding-top:20px;
}

.icon-tags {
    margin-right:15px;
}

.news_title {
    display:block;
    padding:7px 3px 9px 6px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    font-size:18px;
    text-decoration:none;
    color:#333;
}

.news_title a:hover {
    color:#3f92cd;text-decoration:none;
}

.powered {
    margin-top:15px;margin-left:5px;text-align:center;display:block;
}

