<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Jabber.vn.ua &mdash; Винницкий XMPP-сервер.</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" /> 
    <link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Arapey:400italic,400' rel='stylesheet' type='text/css'>
    {%if not debug %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23420340-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}
</head>
<body>
    <!-- begin logo -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">
                <img src="{{ STATIC_URL }}img/logo.png" class="logo" />
                Jabber.<span class="vn_color">vn</span>.ua</a>
            </div>
        </div>
    </div>
    <!-- end logo -->

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!-- menu begin -->
                {% include "include/nav_bar.html" %}
                <a href="http://www.ejabberd.im/" target="_blank" class="powered"><img src="{{ STATIC_URL }}img/ejabberd.png" alt="Ejabberd powered" /></a>
                <!-- menu end -->
            </div>

            <!-- main item begin -->
            <div class="span9">
                <div class="main_content">
                    {% block content %}{% endblock content %}
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_my">
                        <div class="addthis_toolbox addthis_default_style ">
                            <a class="addthis_button_preferred_1"></a>
                            <a class="addthis_button_preferred_2"></a>
                            <a class="addthis_button_preferred_3"></a>
                            <a class="addthis_button_preferred_4"></a>
                            <a class="addthis_button_compact"></a>
                            <a class="addthis_counter addthis_bubble_style"></a>
                        </div>
                        <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
                        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4df2a5783b16c422"></script>
                    </div>
                    <!-- AddThis Button END -->
                </div>
                    
                <div class="disqus span10">
                    <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            var disqus_shortname = 'jabber-vn'; 
                            var disqus_identifier = 'index.html';
                                var disqus_developer = true;
                            
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments .</a></noscript>
                    </div>
                </div>
            <!-- main item end -->
            </div>
        </div>
</body>
</html>
