{% extends 'base.html' %}
{% load url from future %}
{% block content %}
    {% for news_item in news %}
        <section class="list_news">
            <a class="news_title" href="{{ news_item.get_absolute_url }}">{{ news_item.title }}</a>
            {{ news_item.body }}
            {% with tags=news_item.tags.all %}
            {% if tags %}
            <div class="tags">
            <i class="icon-tags"></i>
                {% for tag in tags %}<a href="{% url 'news' tag=tag.name %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </section>
    
    {% endfor %}
{% endblock content %}
