{% extends 'base.html' %}
{% block content %}
        <section class="list_news">
            <a class="news_title" href="">{{ news_item.title }}</a>
            {{ news_item.body }}
        </section>
{% endblock content %}
